body {
    background-color: #222226;
}

h1 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  top: 30%;
  left: 50%;
  transform: translate(-50% , -50%);
  position: absolute;
  
}

.title {
  background-color: #303036;
  padding: 10px;
  position: relative;
  text-align: center;
  overflow: hidden;
}

@media only screen and (max-width: 900px) {
  .title {
    max-height: 20vw;
  }
  
  h1 {
    font-size: 3.5vw;
    left: 60%;
  }

  .info {
    font-size: 4vw;
  }

}

.info {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin: 0 auto;
  max-width: 500px;
}

.results {
  color:white;
  padding-top: 20px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.shuffle {
  margin: 10px;
  border-radius: 25px;
  float: left;
}

.shuffle:hover {
  background-color: black;
}

button {
  background-color: #3a3b42;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  transition-duration: 0.4s;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 25px;
}

button:hover {
  background-color:#4e4f59;
  color: white;
}


.image_picker {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;
  
    .responsive {

      margin-left: auto;
      margin-right: auto;
      text-align: center;
      display: inline-block;
      opacity: 1;

      .thumbnail {
        border: 1px solid #ddd; /* Gray border */
        border-radius: 4px;  /* Rounded border */
        padding: 5px; /* Some padding */
        width: 150px; /* Set a small width */
        height: 200px !important;
        opacity: 1;
        margin: 0;
        
  
        &:hover {
          box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.7);
        }
      }
  
      .selected {
        background-color: rgba(0, 140, 186, 1);
      }
      
      &:hover {
        cursor: pointer;
      }
  
      .checked {
        display: none;
      }
    }
  
    .selected {
      opacity: 0.7;
  
      .checked {
        display: inline-block;
        transition: .5s ease;
        position: absolute;
        bottom: 0;
        right: 0;
  
      }
    }
    .clear {
        clear: both;
      }
}